<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="icon" href="/favicon.ico" type="image/ico"/>
<meta name="darkreader-lock"/>
<link rel="icon" href="/ico/favicon-32x32.png" size="32x32" type="image/png"/>
<link rel="icon" href="/ico/favicon-16x16.png" size="16x16" type="image/png"/>
<title>Hyprland - A wayland compositor that doesn't sacrifice on its looks!</title>

<meta property="og:site_name" content="Hyprland is a dynamic tiling wayland compositor that offers unique features like smooth animations, dynamic tiling and rounded corners. Learn more by visiting this site!"/>
<meta property="og:type" content="website"/>
<meta property="og:url" content="https://www.hyprland.org/"/>
<meta property="og:image" content="/imgs/wall_4k.png"/>

<meta name="twitter:card" content="Hyprland is a dynamic tiling wayland compositor that offers unique features like smooth animations, dynamic tiling and rounded corners. Learn more by visiting this site!"/>
<meta name="twitter:title" content="Hyprland - A wayland compositor that doesn't sacrifice on its looks!"/>
<meta name="twitter:image" content="/imgs/wall_4k.png"/>

<meta name="description" content="Hyprland is a dynamic tiling wayland compositor that offers unique features like smooth animations, dynamic tiling and rounded corners. Learn more by visiting this site!"/>
<meta name="keywords" content="tiling wayland compositor, wayland compositor, wayland, hyprland, tiling window manager, linux, arch, twm, x11, sway, bspwm, dwm"/>
<meta name="robots" content="Wiki, https://wiki.hyprland.org"/>
<meta name="robots" content="Install, https://wiki.hyprland.org/Getting-Started/Installation/"/>
<meta name="robots" content="Configure, https://wiki.hyprland.org/Configuring/Configuring-Hyprland/"/>
<meta name="robots" content="FAQ, https://wiki.hyprland.org/FAQ/"/>
<meta name="robots" content="Contribute, https://wiki.hyprland.org/Contributing-and-Debugging/"/>

<link rel="stylesheet" href="/css/home.css"/>
<%- style %> 
<!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" href="css/rices.css"/>
    <link rel="stylesheet" href="css/404.css"/>
-->

<script defer src="/js/mobile.js"></script>
<%- script %>
<!--
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="js/smooth-view.js"></script>
    <script src="js/play-vid-on-focus.js"></script>
    <script src="js/github-logo.js"></script>
-->