<header>
    <a class="logo" href="/"><img src="/imgs/hyprland.png" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a class="nav-link" data-value="Home" href="/">Hyprland</a></li>
            <li><a class="nav-link" data-value="Wall of Fame" href="/rices">Wall of Fame</a></li>
            <li><a class="nav-link" data-value="Get Started" href="https://wiki.hyprland.org/Getting-Started/Master-Tutorial/">Get Started</a></li>
            <li><a class="nav-link" data-value="Wiki" href="https://wiki.hyprland.org/">Wiki</a></li>
            <li><a class="nav-link" data-value="FAQ" href="https://wiki.hyprland.org/FAQ/">FAQ</a></li>
        </ul>
    </nav>
    <a class="cta" href="https://github.com/hyprwm/Hyprland" target="_blank" rel="noopener">Github</a>
        <p class="mob-menu" style="margin-left: 20px;">&equiv;</p>
    
</header>