<link rel="stylesheet" href="/css/mobile_menu.css"/>
<div id="mobile__menu" class="overlay">
    <a id="close-id" class="close">&times;</a>
    <div class="overlay__content">
        <a id="home" href="/">Hyprland</a>
        <a href="/rices">Wall Of Fame</a>
        <a href="https://wiki.hyprland.org/Getting-Started/Master-Tutorial/">Get Started</a>
        <a href="https://wiki.hyprland.org">Wiki</a>
        <a href="https://wiki.hyprland.org/FAQ/">FAQ</a>
        <a id="mob-github"href="https://github.com">Github</a>
    </div>
</div>