<div id="mobile__menu" class="overlay">
    <a id="close-id" class="close">&times;</a>
    <div class="overlay__content">
        <a id="home" href="https://www.hyprland.org">Hyprland</a>
        <a href="https://www.hyprland.org/rices">Wall Of Fame</a>
        <a href="https://wiki.hyprland.org/Getting-Started/Master-Tutorial/">Get Started</a>
        <a href="https://wiki.hyprland.org">Wiki</a>
        <a href="https://wiki.hyprland.org/FAQ/">FAQ</a>
    </div>
</div>