<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/404.css" />
    <title>Oopsy...</title>
  </head>
  <body>
    <div id="content-center" class="content-center">
      <header id="header" class="header">
        <div id="header-logo-div" class="header">
          <a href="/">
            <img
              id="header-logo"
              class="header"
              src="svg/hyprland.svg"
              alt="Hyprland Logo"
            />
          </a>
        </div>
        <div id="header-links-div" class="header">
          <div id="header-links" class="header">
            <a id="header-link-home" class="header-link" href="/">Hyprland</a>
            <a id="header-link-install" class="header-link" href="/install"
              >Install</a
            >
            <a id="header-link-configure" class="header-link" href="/configure"
              >Configure</a
            >
          </div>
        </div>
        <div id="links-out" class="header-out">
          <div id="github" class="header-out">
            <a
              id="link-github"
              href="https://github.com/hyprwm/Hyprland"
              target="_blank"
              rel="noopener"
              >GitHub</a
            >
          </div>
        </div>
      </header>
      <div id="div-img"><img src="svg/login.svg" alt=""></div>
      <div id="div-text"><h1>Page Not Found!</h1><p>Look where you land, open seas and empty hands</p><a href="/"><button>Return Home</button></a></div>
      
      </div>
      </body>
      </html>