<div class="con404">
  <img src="imgs/404.png" alt="not found?">
  <h1>Page Not Found!</h1>
  <p>Look where you land, open seas and empty hands</p>
  <a href="/"><button>Return to Hyprland</button></a>
</div>

<link rel="stylesheet" href="css/404.css"/>