<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
  <title>Hyprland</title>
</head>
<body>
  <header>
    
    <a class="logo" href="/"><img src="imgs/hyprland.png" alt="logo"></a>
    <nav>
        <ul class="nav__links">
            <li><a id="home-full" href="https://hyprland.org">Hyprland</a></li>
            <li><a href="https://wiki.hyprland.org">Wiki</a></li>
            <li><a href="https://wiki.hyprland.org/FAQ/">FAQ</a></li>
        </ul>
    </nav>
    <a class="cta" href="https://github.com/hyprwm/Hyprland" target="_blank" rel="noopener">Github</a>
    <p class="mob-menu">&equiv;</p>
</header>

<div class="top">
  <div class="text">
    <h2 id="welcome">Welcome to Hyprland!</h2>
    <p>
      A dynamic tiling
      <a
        href="https://wayland.app/protocols/"
        class="text-para-link"
        id="link-1"
        target="_blank"
        rel="noopener"
        >Wayland</a
      >
      compositor based on
      <a
        href="https://way-cooler.org/book/wlroots_introduction.html"
        class="text-para-link"
        id="link-2"
        target="_blank"
        rel="noopener"
        >wlroots</a
      >
      that doesn't sacrifice on its looks.
    </p>
    <a id="install-hypr" href="https://wiki.hyprland.org/Getting-Started/Installation/"><div><p>Install Hyprland</p></div></a>
  </div>
  <div id="slide" class="top">
     <div id="slide-content">
       
      <div class="swiper"> 
       
        <div class="swiper-wrapper">
          
          <div class="swiper-slide">
            <img src="imgs/img1.png" id="slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="imgs/img2.png" id="slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="imgs/img3.png" id="slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="imgs/img4.png" id="slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="imgs/img5.png" id="slide-img" />
          </div>
          <div class="swiper-slide">
            <img src="imgs/img6.png" id="slide-img" />  
          </div>
        </div> 
        
         <div class="swiper-pagination" style="color: #cfe8f6;"></div>

        
        <div class="swiper-button-prev" style="color: #cfe8f6;"></div>
        <div class="swiper-button-next" style="color: #cfe8f6;"></div>  
      </div>
    </div>
</div>
</div>
<div class="features">
  <h1 id="features-text">Features</h1>
  <div class="animation">
   
  <div id="ani-vid">
    <video src="videos/animation.mp4" muted autoplay loop></video>
  </div>
  <div id="ani-text">
    <h1 style="padding-bottom: 15px;">Smooth<br> Animations</h1>
    <p>Hyprland offers super smooth and responsive animations, be it when
      switching between windows or workspaces, resizing windows or
      simply moving them around, plus you can easily customize it!</p>
    <a href="https://wiki.hyprland.org/Configuring/Animations/"><div>MORE ABOUT ANIMATIONS</div></a>
  </div>
</div>
<div class="tiling">
  <div id="til-text">
    <h1 style="padding-bottom: 15px;">Dynamic<br> Tiling</h1>
    <p>Tiling in Hyprland is "dynamic" meaning it handles the placement
      of windows automatically acquiring the position of your cursor.
      Hyprland also supports a variety of other layouts including
      floating, pseudotiling and even fullscreen!</p>
    <a href="https://wiki.hyprland.org/Configuring/Dwindle-Layout/"><div>MORE ABOUT TILING</div></a>
  </div>
     
  <div id="til-vid">
    <video src="videos/tiling.mp4" muted autoplay loop></video>
  </div>
</div>
<div class="configure">
   
  <div id="con-vid">
    <video src="videos/configure.mp4" muted autoplay loop></video>
  </div>
  <div id="con-text">
    <h1 style="padding-bottom: 15px;">Easy<br> Configuration</h1>
    <p>Editing the config file for Hyprland is as easy as editing a word
      document, if you need any assist in configuring it, be sure to
      check the
      <a href="https://wiki.hyprland.org/" id="link-config">Wiki Page</a> or feel
      free to ask us
      <a
        id="link-config-discord"
        href="https://discord.com/invite/hQ9XvMUjjr"
        target="_blank"
        rel="noopener"
        >@Discord</a>.</p>
    <a id="feat-text" href="https://wiki.hyprland.org/Configuring/Configuring-Hyprland/"><div>GET STARTED</div></a>
  </div>
</div>
</div>
<div class="and-more">
  <h1>
    <a href="https://github.com/hyprwm/Hyprland#features" style="text-decoration: none;">And More!</a>
  </h1>
</div>
<div class="get-started">
  <div id="get-started-button"><a href="https://wiki.hyprland.org/Getting-Started/Installation/">Install Hyprland</a></div>
</div>
<hr style="color: #a3a3a3a5; margin: 0px 10%;">
<footer>
  <div class="footer-text">
  
  <p style="margin-top: 10px">&#169; Hyprland Development 2022</p>
  <div id="devs">
    <p>
      Developers -
      <a
        href="https://github.com/vaxerski"
        target="_blank"
        rel="noopener"
        >Vaxerski (Lead Developer)</a>
        <span>,</span>
      <a
        class="site"
        href="https://github.com/System-x64"
        target="_blank"
        rel="noopener">
        System-x64 (Website Stuff)</a>
        <span>,</span>
      <a
        href="https://github.com/fufexan"
        target="_blank"
        rel="noopener">Fufexan (Supporting Developer)</a>
        <span>,</span>
      <a
        href="https://github.com/ThatOneCalculator"
        target="_blank"
        rel="noopener">
        ThatOneCalculator (Package Maintainer)</a>
        <span> and </span>
        <a
        href="https://github.com/hyprwm/Hyprland/graphs/contributors"
        target="_blank"
        rel="noopener">
        our fellow contributors</a>.
    </p>
  </div>
  <p style=" margin-top: 20px; margin-bottom: 10px;">Hyprland is licensed under the BSD 3-Clause "New" or "Revised"
    License.</p>
  </div>
  <div class="footer-icons">
    <a href="https://github.com/hyprwm/Hyprland" target="_blank" rel="noopener"><img src="svg/github.svg" alt=""/></a>
    <a href="https://discord.com/invite/hQ9XvMUjjr" target="_blank" rel="noopener" ><img src="svg/discord.svg" alt=""/></a>
  </div>
</footer>
<div id="mobile__menu" class="overlay">
  <a id="close-id" class="close">&times;</a>
  <div class="overlay__content">
      <a id="home" href="https://hyprland.org">Hyprland</a>
      <a href="https://wiki.hyprland.org">Wiki</a>
      <a href="https://wiki.hyprland.org/FAQ/">FAQ</a>
  </div>
</div>
<script type="text/javascript" src="js/mobile.js"></script>
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="js/swiper.js"></script>
</body>
</html>
