<div class="wofdiv">
    <h1>Wall of Fame</h1>
    <p>The Wall of Fame documents the winning rices from past ricing competitons held on our Discord server.</p>
</div>

<hr style="color: #cfe8f6; margin: 0px 10%; height: 3px;  border: none; background-color: #cfe8f6;" />

<div class="ricewins">
    <ul>
        <li class="month" style="font-size: 2.5rem;">December 2022</li>
        <li class="win-text">#1: Flafy<br><br><img src="/imgs/ricingcomp1/flafy.png"></li>
        <li class="win-text">#2: (<i>ex aequo</i>) flick0<br><br><img src="/imgs/ricingcomp1/flicko.png"></li>
        <li class="win-text">#2: (<i>ex aequo</i>) amadeus<br><br><img src="/imgs/ricingcomp1/amadeus.png"></li>
        <li class="win-text">#3: (<i>ex aequo</i>) Lyasm<br><br><img src="/imgs/ricingcomp1/lyasm.png"></li>
        <li class="win-text">#3: (<i>ex aequo</i>) lauroro<br><br><img src="/imgs/ricingcomp1/lauroro.jpg"></li>
    </ul>
</div>

<link rel="stylesheet" href="/css/rices.css"/>