<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon" />
  <link rel="stylesheet" href="css/404.css" />
  <link rel="stylesheet" href="css/home.css" />
  <meta name="darkreader-lock">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
  <title>Oopsy...</title>
</head>
<body>
  <header>
    <a class="logo" href="/"><img src="imgs/hyprland.png" alt="logo"></a>
    <nav>
       <ul class="nav__links">
          <li><a href="https://hyprland.org">Hyprland</a></li>
          <li>
            <a class="nav-link" data-value="Wall of Fame" href="https://www.hyprland.org/rices">Wall of Fame</a>
          </li>
          <li><a class="nav-link" data-value="Get Started" href="https://wiki.hyprland.org/Getting-Started/Master-Tutorial/">Get Started</a></li>
          <li><a class="nav-link" data-value="Wiki" href="https://wiki.hyprland.org/">Wiki</a></li>
          <li><a class="nav-link"data-value="FAQ" href="https://wiki.hyprland.org/FAQ/">FAQ</a></li>
          
        </ul>
    </nav>
    <a class="cta" href="https://github.com/hyprwm/Hyprland" target="_blank" rel="noopener">Github</a>
    <p class="mob-menu">&equiv;</p>
  </header>   

  <div class="con404"></div>
  <div id="div-img"><img src="svg/login.svg" alt=""></div>
  <div id="div-text"><h1>Page Not Found!</h1><p>Look where you land, open seas and empty hands</p><a href="/"><button>Return Home</button></a></div>

  <div id="mobile__menu" class="overlay">
    <a id="close-id" class="close">&times;</a>
    <div class="overlay__content">
        <a  href="https://hyprland.org">Hyprland</a>
        <a href="https://www.hyprland.org/rices">Wall Of Fame</a>
        <a  href="https://wiki.hyprland.org/Getting-Started/Master-Tutorial/">Get Started</a>
        <a href="https://wiki.hyprland.org">Wiki</a>
        <a href="https://wiki.hyprland.org/FAQ/">FAQ</a>
      </div>
  </div>
  <script type="text/javascript" src="js/mobile.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
  <script src="js/swiper.js"></script>

</body>
</html>