.con404 {
  margin: auto;
  text-align: center;
  color: #cfe8f6;
  font-family: "Sofia-Pro-Medium";
}

.con404 > img {
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  max-height: 40vh;
  max-width: 60vw;
}

.con404 > h1 {
  margin-bottom: 20px;
  font-size: 48px;
}

.con404 > p {
  font-size: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.con404 > a > button{
  padding: 20px;
  background-color: aquamarine;
  border: solid aquamarine;
  border-radius: 0.2rem;
  margin-bottom: 60px;
  transition: all 0.5s ease;
  font-size: 20px;
  font-family: "Sofia-Pro-Medium";
}

.con404 > a > button:hover {
  background-color: #1a1a2e;
  color: aquamarine;
  transform: scale(1.2);
  cursor: pointer;
}
