@font-face {
  font-family: "LondonBetween";
  src: url("../fonts/LondonBetween.woff") format("woff");
}

@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../fonts/JosefinSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Sofia-Pro-Light";
  src: url("../fonts/SofiaProLight.woff") format("woff");
}

@font-face {
  font-family: "Sofia-Pro-Medium";
  src: url("../fonts/SofiaProMedium.woff") format("woff");
}

@font-face {
  font-family: "SourceCodePro-Semibold";
  src: url("../fonts/SourceCodePro-Semibold.woff") format("woff");
}

* {
  padding: 0px;
  margin: 0px;
  background-color: #1a1a2e;
}

#content-center {
  margin-left: 10%;
  margin-right: 10%;
}

#header {
  display: flex;
  background-color: #1a1a2e;
  width: auto;
  height: 6rem;

}

.header {
  background-color: #1a1a2e;
}

#header-logo-div {
  width: 240px;
}



#header-logo {
  width: auto;
  height: 100%;
}

#header-links {
  display: flex;
  padding-top: 15%;
  width: 260px;
}

#header-links-div {
  margin-left: auto;
  padding-right: 10rem;
}

.header-link {
  color: #cfe8f6;
  font-family: "LondonBetween";
  font-size: 20px;
  text-decoration: none;
  transition: transform 0.2s;
}



.text-para-link:hover {
  color: aquamarine;
  font-size: 28px;
}

.text-para-link {
  color: #cfe8f6;
  font-size: 22px;
  transition: font-size 0.2s;
}
#header-link-install {
  margin-left: 10%;
}
#header-link-configure {
  margin-left: 10%;
}

#header-link-configure {
  border-bottom: 2px solid #cfe8f6;
}

.header-link:hover {
  transform: scale(1.3);
  border-bottom: 2px solid aquamarine !important;
  color: aquamarine;
}

#links-out {
  margin-left: auto;
}

#github {
  margin-top: 50%;
}

#link-github {
  padding: 15px;
  background-color: aquamarine;
  font-family: "LondonBetween";
  color: #1a1a2e;
  text-decoration: none;
}

#github {
  transition: transform 0.2s;
}

#github:hover {
  transform: scale(1.2);
}


#install_h1 {
  display: flex;
  width: max-content;
  height: max-content;
  margin-top: 8rem;
}

#install_h1 img {
  width: 102px;
  height: 102px;
  margin-left: 20px;
  color: #cfe8f6;
}

#install_h1 h1 {
  font-size: 104px;
  margin-left: 20px;
  font-family: "JosefinSans-Regular";
  color: #cfe8f6;
}

p {
  font-family: "Sofia-Pro-Medium";
  font-size: 20px;
  color: #cfe8f6;
  line-height: 1.5;
}

.code {
  background-color: #2d2d47;
  padding: 1px;
  border-radius:10px;
  font-family: "sourceCodePro-Semibold";
  font-size: 16px;
  padding-left: 5px;
  padding-right: 5px;
}

#qi-content {
  width: auto;
  height: max-content;
  margin-top: 20px;
  margin-bottom: 40px;
  border-radius: 15px;
  background-color: #2d2d47;
}



#qi-content p {
  padding-top: 10px;
  padding-left: 30px;
  border-radius: 15px;
  padding-bottom: 10px;
  background-color: #2d2d47;
  font-family: "sourceCodePro-Semibold";
}
#qi-content i {
  background-color: #2d2d47;
  font-family: "sourceCodePro-Semibold";
}

#qi-content b {
  background-color: #2d2d47;
  font-family: "sourceCodePro-Semibold";
}

#qi-content span {
  color:  	#6c7086;
  background-color: #2d2d47;
}

#hyp-install button{
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: aquamarine;
  border: none;
  border-radius: 10px;
  transition: all 1s ease-out;
}

#hyp-install button:hover{
  background-color: aqua;
}

h1 {
  font-family: "JosefinSans-Regular";
  font-size: 52px;
  color: #cfe8f6;
  
}

hr {
  color: #2d2d47;
}


h3 {
  color: #cfe8f6;
  font-family: "JosefinSans-Regular";
  font-size: 42px;
}

b{
  font-size: 24px;
}

a {
  color: #cfe8f6;
}

li {
  font-family: "Sofia-Pro-Medium";
  font-size: 20px;
  color: #cfe8f6;
  margin-left: 20px;
  margin-top: 5px;
}

ul {
  margin-top: 10px;
}

a {
  color: aquamarine;
}

footer {
  width: 100%;
  height: 130px;
  display: flex;
}

footer p {
  
  margin-top: 10px;
  color: #a3a3a3a5;
  font-family: "Sofia-Pro-Light";
  font-size: 13px;
}

footer p a {
  color: #a3a3a3a5;
  text-decoration: none;
}

footer p a:hover {
  color: #cfe8f6;
  text-decoration: none;
}

#devs {
  padding-top: 5px;
}

.p2 {
  margin-top: 9px;
}

#foot-icons img {
  padding-left: 20px;
  width: 30px;
  height: 30px;

}

#foot-icons {
  margin-left: 35%;
  margin-top: 4%;
  display: flex;
}


#warning {
  width: auto;
  margin-top: 4rem;
  margin-bottom: 2rem;
  height: max-content;
  background-color: rgb(249, 226, 175);
  display: flex;
  border-radius: 15px;
}

#warning img {
  width: auto;
  height: 40px;
  background-color: rgb(249, 226, 175);
  margin-top: 20px;
  margin-left: 30px;
}

#warning p {
  color: black;
  font-family: "Sofia-Pro-Light";
  margin-left: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  border-radius: 15px;
  background-color: rgb(249, 226, 175);
}

#warning b {
  font-family: "Sofia-Pro-Medium";
  background-color: rgb(249, 226, 175);
}

#warning a {
  font-family: "Sofia-Pro-Light";
  background-color: rgb(249, 226, 175);
  color: black;
  transition: font-size 0.2s;
  text-decoration: none;
  border-bottom: black solid 3px;
}
