@font-face {
  font-family: "LondonBetween";
  src: url("../fonts/LondonBetween.woff") format("woff");
}

@font-face {
  font-family: "JosefinSans-Regular";
  src: url("../fonts/JosefinSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Sofia-Pro-Light";
  src: url("../fonts/SofiaProLight.woff") format("woff");
}

@font-face {
  font-family: "Sofia-Pro-Medium";
  src: url("../fonts/SofiaProMedium.woff") format("woff");
}

@font-face {
  font-family: "SourceCodePro-Semibold";
  src: url("../fonts/SourceCodePro-Semibold.woff") format("woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #1a1a2e;
}

body {
  background-color: #1a1a2e;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10%;
  padding-left: 8%;
  background-color: #1a1a2e;
  padding-top: 20px;
}

.logo {
  margin-right: auto;
  margin-left: 40px;
}

.logo img {
  width: 190px;
  height: auto;
  padding-right: 10px;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Sofia-Pro-Medium";
  font-size: 20px;
  font-weight: 500;
  color: #cfe8f6;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a:hover {
  color: aquamarine;
}

.cta {
  margin-left: 20px;
  padding: 16px 25px;
  background-color: aquamarine;
  border: none;
  border: solid aquamarine;
  border-radius: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: #1a1a2e;
}

.cta:hover {
  transform: scale(1.2);
  background-color: #1a1a2e;
  color: aquamarine;
}

#close-id {
  padding: 0px;
  margin-right: 32px;
  font-size: 43px;
  margin-right: 6%;
  margin-top: 5px;
}



.nav__links a:hover {
  border-bottom: 2px solid aquamarine;
}

.top {
  background-color: #1a1a2e;
  display: flex;
  height: max-content;
}

.text h2 {
  font-family: "JosefinSans-Regular";
  color: #cfe8f6;
  font-size: 4rem;
}
.text p {
  font-family: "Sofia-Pro-Medium";
  font-size: 20px;
  color: #cfe8f6;
  padding-top: 10px;
}
.text a {
  font-family: "Sofia-Pro-Medium";
  color: #cfe8f6;
}
.text a:hover {
  color: aquamarine;
}

.text {
  padding-top: 150px;
  padding-left: 10%;
  margin-right: auto;
  max-width: 600px;
}

#install-hypr div {
  width: 300px;
  height: 60px;
  background-color: aquamarine;
  margin-top: 40px;
  transition: all 0.5s ease;
  border-radius: 0.2rem;
}

#install-hypr div p {
  text-align: center;
  color: #1a1a2e;
  background-color: aquamarine;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 22px;
  border-radius: 0.2rem;
  border: solid aquamarine;
  transition: all 0.5s ease;
}

#install-hypr div p:hover {
  background-color: #1a1a2e;
  color: aquamarine;
}

#install-hypr {
  text-decoration: none;
}

#install-hypr div:hover {
  transform: scale(1.2);
}

#slide {
  margin-top: 100px;
  margin-right: 6%;
  margin-left: 40px;
  width: 640px;
  height: max-content;
  align-items: center;
  justify-content: center;
  padding-bottom: 5%;
}

#slide-content {
  width: 640px;
  height: auto;
}
.swiper {
  width: 100%;
  height: fit-content;
}

.swiper-slide img {
  width: 640px;
  height: auto;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  color: #cfe8f6;
  background-color: transparent;
}

.swiper .swiper-pagination-bullet-active {
  background-color: #cfe8f6;
}

.swiper .swiper-pagination {
  background-color: transparent;
}
/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #1a1a2e;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover,
.overlay a:focus {
  color: aquamarine;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #cfe8f6;
  cursor: pointer;
}

.mob-menu {
  display: none;
}

.mob-menu {
  font-size: 40px;
  color: #cfe8f6;
  cursor: pointer;
  transition: all 0.5s ease;
}

.mob-menu:hover {
  color: aquamarine;
}

.features {
  width: 80%;
  height: auto;
  margin: 0px 10%;
}

.features h1 {
  font-size: 69px;
  font-family: "JosefinSans-Regular";
  color: #cfe8f6;
}

#features-text {
  padding-top: 30px;
  padding-bottom: 120px;
}
.animation {
  display: flex;
  width: 100%;
  height: 500px;
}

#ani-vid video {
  width: 640px;
  height: auto;
}

#ani-text {
  margin-left: 10%;
}

#ani-text h1 {
  font-size: 53px;
  text-align: center;
}

#ani-text p {
  font-family: "Sofia-Pro-Light";
  font-size: 20px;
  color: #cfe8f6;
  text-align: center;
}

#ani-text a {
  text-decoration: none;
}

#ani-text a div {
  color: #1a1a2e;
  font-family: "Sofia-Pro-Medium";
  font-size: 16px;
  padding: 20px;
  margin: 0px 17%;
  margin-top: 40px;
  border-radius: 0.2rem;
  border: solid aquamarine;
  background-color: aquamarine;
  text-align: center;
  transition: all 0.3s ease;
}

#ani-text a div:hover {
  transform: scale(1.2);
  background-color: #1a1a2e;
  color: aquamarine;
}

.tiling {
  display: flex;
  width: 100%;
  height: 500px;
}

#til-vid video {
  width: 640px;
  height: auto;
}

#til-text {
  margin-right: 10%;
}

#til-text h1 {
  font-size: 53px;
  text-align: center;
}

#til-text p {
  font-family: "Sofia-Pro-Light";
  font-size: 20px;
  color: #cfe8f6;
  text-align: center;
}

#til-text a {
  text-decoration: none;
}

#til-text a div {
  color: #1a1a2e;
  font-family: "Sofia-Pro-Medium";
  padding: 20px;
  margin: 0px 20%;
  margin-top: 40px;
  border-radius: 0.2rem;
  border: solid aquamarine;
  background-color: aquamarine;
  text-align: center;
  transition: all 0.3s ease;
}

#til-text a div:hover {
  transform: scale(1.2);
  background-color: #1a1a2e;
  color: aquamarine;
}

.configure {
  display: flex;
  width: 100%;
  height: 500px;
}

#con-vid video {
  width: 640px;
  height: auto;
}

#con-text {
  margin-left: 10%;
}

#con-text h1 {
  font-size: 53px;
  text-align: center;
}

#con-text p {
  font-family: "Sofia-Pro-Light";
  font-size: 20px;
  color: #cfe8f6;
  text-align: center;
}

#con-text a {
  text-decoration: none;
}

#con-text a div {
  color: #1a1a2e;
  font-family: "Sofia-Pro-Medium";
  padding: 20px;
  margin: 0px 20%;
  margin-top: 40px;
  border: solid aquamarine;
  border-radius: 0.2rem;
  background-color: aquamarine;
  text-align: center;
  transition: all 0.3s ease;
}

#con-text a div:hover {
  transform: scale(1.2);
  background-color: #1a1a2e;
  color: aquamarine;
}

#con-text p a {
  color: #cfe8f6;
  text-decoration: underline;
  transition: all 0.3s ease;
}
#con-text p a:hover {
  color: aquamarine;
}
#link-config-discord:hover {
  color: #5865f2 !important;
}

footer {
  font-family: "Sofia-Pro-Light";
  display: flex;
  width: 80%;
  font-size: 13px;
  color: #a3a3a3a5;
  margin: 0px 10%;
}
footer hr {
  width: 80% !important;
}
footer a {
  color: #a3a3a3a5;
  text-decoration: none;
  transition: all 0.3s ease;
}
footer a:hover {
  color: #cfe8f6;
}

.features *, .top * {
  line-height: 1.2em;
}

#devs {
  max-width: 700px;
  margin-top: 12px;
  line-height: 1.5;
}
.footer-icons {
  display: flex;
  width: 116px;
  height: 60px;
  margin-left: auto;
  margin-top: 30px;
}
.footer-icons a svg {
  width: 40px;
  height: 40px;
  margin-right: 30px;
}

.footer-icons a svg path {
  transition: color 0.3s ease 0s;
}

.footer-icons a svg:active path,
.footer-icons a svg:focus path,
.footer-icons a svg:hover path {
  color: #cfe8f6;
}
#licence {
  margin-top: 20px;
  margin-bottom: 10px;
}
#mob-github {
  display: none;
}

@media only screen and (max-width: 1170px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
  .mob-menu {
    display: flex;
    margin-bottom: 8px;
  }
  #mob-github {
  display: block;
}

  .top {
    display: inline;
  }
  .text {
    text-align: center;
    padding-top: 130px;
    padding-left: 0px;
    margin-right: 0px;
    width: 100%;
    padding-bottom: 150px;
    max-width: 100%;
  }
  .text h2 {
    font-size: 46px;
    text-align: center;
    width: 100%;
    padding: 0 5%;
  }
  .text p {
    font-size: 18px;
    text-align: center;
    padding: 0px 10%;
    padding-top: 15px;
  }
  #install-hypr div {
    margin-left: auto;
    margin-right: auto;
  }
  #slide {
    width: 640px;
    height: auto;
    align-items: center;
    border: none;
    margin-left: 10%;
    margin-right: 10%;
  }
  #slide-content {
    width: auto;
  }

  .swiper {
    width: 640px;
    margin-left: 0px;
  }
  .features {
    margin: 0px;
    width: 100%;
    padding-top: 200px;
    text-align: center;
    padding-bottom: 100px;
  }
  #features-text {
    padding-bottom: 100px;
  }
  .animation {
    display: inline;
  }
  #ani-text {
    margin-left: 0px;
  }
  #ani-text h1 {
    padding-top: 80px;
    font-size: 42px;
  }
  #ani-text p {
    margin: 0px 10%;
  }
  .tiling {
    margin-top: 395px;
    display: flex;
    flex-direction: column-reverse;
  }
  #til-text {
    margin-left: 0px;
  }
  #til-text h1 {
    padding-top: 80px;
    font-size: 42px;
  }
  #til-text p {
    margin: 0px 10%;
  }
  #til-text {
    margin-right: 0px;
  }
  .configure {
    display: inline;
  }
  .configure {
    margin-top: 2%;
  }
  #con-text {
    margin-left: 0px;
  }
  #con-text h1 {
    padding-top: 80px;
    font-size: 42px;
  }
  #con-text p {
    margin: 0px 10%;
  }
  #con-vid video {
    margin-top: 250px;
  }
  #con-text {
    margin-right: 0px;
  }
  footer {
    /* display: block; */
  }
}

@media only screen and (max-width: 648px) {
  header {
    padding-left: 5px;
  }
  #mob-github {
    display: block;
  }
  .logo img {
    width: 160px;
    height: auto;
  }

  .swiper-slide img {
    width: 384px;
    height: auto;
  }
  #install-hypr div {
    width: 220px;
    height: 40px;
  }
  #install-hypr div p {
    font-size: 20px;
  }
  .text {
    padding-top: 20%;
    padding-bottom: 25%;
  }
  #slide {
    width: 384px;
    height: auto;
    align-items: center;
    border: none;
    margin-left: 0px;
    margin-right: 0px;
  }
  .swiper {
    width: 384px;
    margin-left: 0px;
  }
  #slide-content {
    width: auto;
  }
  #ani-vid video {
    width: 384px;
    height: auto;
  }
  #ani-text h1 {
    margin: 0px 10%;
  }
  #til-vid video {
    width: 384px;
    height: auto;
  }
  #con-vid video {
    width: 384px;
    height: auto;
  }

  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
  .mob-menu {
    display: flex;
    margin-bottom: 8px;
  }
  .get-started a div {
    margin-left: 0px;
  }
  .footer-icons a img {
    margin-right: 10px;
    width: 30px;
    height: 30px;
  }
  .footer-text {
    max-width: 150px;
  }
  .footer-icons {
    margin-left: 20%;
  }

  #close-id {
    margin-right: 7px;
  }
  footer {
    display: block;
  }
  .footer-text {
    max-width: none;
  }
  .footer-icons {
    display: flex;
    width: fit-content;
    height: 60px;
    margin-left: auto;
    margin-top: 30px;
    margin-right: auto;
  }
  .bi.bi-github {
    margin-right: 30px;
  }
  .footer-icons a svg {
    width: 30px;
    height: 30px;
    margin-right: 0;
  }
  #licence {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: 14px;
  }
}
@media only screen and (min-width: 1860px) {
  #ani-text {
    margin-left: auto;
    max-width: 500px;
    margin-top: 50px;
  }
  #til-text {
    margin-right: auto;
    max-width: 500px;
    margin-top: 50px;
  }
  #con-text {
    margin-left: auto;
    max-width: 500px;
    margin-top: 50px;
  }
  #ani-vid video {
    width: 755px;
  }

  #til-vid video {
    width: 755px;
  }

  #con-vid video {
    width: 755px;
  }
}
@media only screen and (min-width: 2200px) {
  #ani-text {
    margin-left: auto;
    max-width: 700px;
    margin-top: 80px;
  }
  #ani-text h1 {
    font-size: 54px;
  }
  #ani-text p {
    font-size: 26px;
  }
  #ani-text a div {
    scale: 1.2;
  }
  #til-text {
    margin-right: auto;
    max-width: 700px;
    margin-top: 80px;
    margin-left: 3%;
  }
  #til-text h1 {
    font-size: 54px;
  }
  #til-text p {
    font-size: 26px;
  }
  #til-text a div {
    scale: 1.2;
  }
  #con-text {
    margin-left: auto;
    max-width: 700px;
    margin-top: 80px;
  }
  #con-text h1 {
    font-size: 54px;
  }
  #con-text p {
    font-size: 26px;
  }
  #con-text a div {
    scale: 1.2;
  }

  .animation {
    height: max-content;
  }
  #ani-vid video {
    width: 80%;
    height: auto;
    padding-bottom: 100px;
  }
  .tiling {
    height: max-content;
  }
  #til-vid video {
    width: 80%;
    height: auto;
    padding-bottom: 100px;
    margin-left: 25%;
  }
  .configure {
    height: max-content;
  }
  #con-vid video {
    width: 80%;
    height: auto;
    padding-bottom: 100px;
  }
  .top {
    height: max-content;
  }
  .swiper-slide img {
    width: 960px;
    height: auto;
  }
  #slide-content {
    width: 960px;
    height: auto;
  }
  #slide {
    width: max-content;
    padding-bottom: 5%;
  }
  .text p {
    font-size: 26px;
    padding-top: 10px;
  }
  .text h2 {
    font-size: 68px;
  }
  #install-hypr div {
    scale: 1.2;
    margin-left: 5%;
    margin-top: 45px;
  }
  .text {
    margin-top: 1%;
    max-width: 800px;
  }
  #features-text {
    font-size: 82px;
    padding-bottom: 80px;
  }
  .footer-text * {
    font-size: 16px;
  }
  #devs {
    max-width: 800px;
  }
}

@media only screen and (min-width: 3000px) {
  #ani-text {
    margin-top: 5%;
    margin-right: auto;
  }
  #ani-text h1 {
    font-size: 72px;
  }
  #ani-text p {
    font-size: 32px;
  }
  #ani-text a div {
    scale: 1.3;
  }

  #til-text {
    margin-top: 5%;
    margin-left: auto;
  }
  #til-text h1 {
    font-size: 72px;
  }
  #til-text p {
    font-size: 32px;
  }
  #til-text a div {
    scale: 1.3;
  }
  #con-text {
    margin-top: 5%;
    margin-right: auto;
  }
  #con-text h1 {
    font-size: 72px;
  }
  #con-text p {
    font-size: 32px;
  }
  #con-text a div {
    scale: 1.3;
  }
  .swiper-slide img {
    width: 1377px;
  }
  #slide-content {
    width: 1377px;
  }
  .text {
    max-width: 1000px;
    margin-top: 5%;
  }
  .text p {
    font-size: 32px;
  }
  .text h2 {
    font-size: 82px;
  }
  #install-hypr div {
    scale: 1.3;
    margin-left: 5%;
  }
  #features-text {
    font-size: 96px;
  }
  .nav__links a,
  .cta {
    font-size: 28px;
  }
  .logo img {
    width: 240px;
    height: auto;
    padding-right: 10px;
  }
  .footer-text * {
    font-size: 20px;
  }
  #devs {
    max-width: 1000px;
  }
  .text {
    max-width: 1000px !important;
  }
}
@media only screen and (min-width: 1700px) {
  .text {
    max-width: 800px;
  }
}
