.wofdiv {
    margin: auto;
    text-align: center;
    color: #cfe8f6;
}

.wofdiv > h1 {
    font-family: "Sofia-Pro-Medium";
    font-size: 48px;
    margin-top: 60px;
    margin-bottom: 30px;
}

.wofdiv > p {
    
    font-size: 20px;
    font-family: "Sofia-Pro-Medium";
    margin: 0 10%;
    margin-bottom: 60px;
}

.bigtext {
    font-family: "JosefinSans-Regular";
    color: #cfe8f6;
    font-size: 5rem;
}

.ricewins {
    text-align: center;
    margin: auto;
    margin-bottom: 60px;
}

div.ricewins > ul {
    list-style-type: none;
} 

.month {
    font-family: "Sofia-Pro-Medium";
    color: #cfe8f6;
    margin: 30px;
}

.win-text {
    font-size: 24px;
    color: #cfe8f6;
    font-family: "Sofia-Pro-Medium";
    margin: 20px;
}

li.win-text > img {
    max-width: 60vw;
}

@media only 
screen and (max-width: 1000px) {
    li.win-text > img {
        max-width: 80vw;
        min-width: 80vw;;
    }
}